<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout/header :: head">
</head>
<body class="custom-background d-flex flex-column">

<header th:replace="/layout/header :: header"></header>
<nav th:replace="/layout/header :: nav-bar"></nav>

<div id="pageContent" class="container mb-4">
    <div class="row d-flex">
        <h2 class="col py-3">Service List</h2>
        <div class="col text-right my-auto mr-3">
            <button class="btn btn-success p-1" id="createBtn">
                <i class="fas fa-plus"></i> <span>Add New Service</span>
            </button>
        </div>
    </div>
    <div th:if="${message}">
        <div class="alert alert-success alert-dismissible fade show font-weight-bold">
            <button type="button" class="close btn shadow-none float-right" data-dismiss="alert">&times;</button>
            <span th:text="${message}"></span>
        </div>
    </div>
    <table class="table table-hover text-center" id="serviceTable">
        <thead>
        <tr>
            <th class="px-0">#</th>
            <th class="px-0">ID</th>
            <th class="px-0">Service</th>
            <th class="px-0">Service Type</th>
            <th class="px-0">Room Standard</th>
            <th class="px-0">Area</th>
            <th class="px-0">No. of Floors</th>
            <th class="px-0">Rent Type</th>
            <th class="px-0">Cost</th>
            <th class="px-0">Actions</th>
        </tr>
        </thead>
        <tbody id="serviceTableBody">
        <tr th:each="service, iterStat : ${services}">
            <td class="px-3 align-middle" th:text="${(services.size * services.number) + iterStat.count}"></td>
            <td class="px-3 align-middle" th:text="${service.serviceId}"></td>
            <td class="px-3 align-middle" th:text="${service.serviceName}"></td>
            <td class="px-3 align-middle" th:text="${service.serviceType.serviceTypeName}"></td>
            <td class="px-3 align-middle" th:text="${service.roomStandard}"></td>
            <td class="px-3 align-middle" th:text="${service.serviceArea}"></td>
            <td class="px-3 align-middle" th:text="${service.numberOfFloors}"></td>
            <td class="px-3 align-middle" th:text="${service.rentType.rentTypeName}"></td>
            <td class="px-3 align-middle" th:text="${service.serviceCost}"></td>
            <td class="px-3">
                <button class="view btn bg-transparent shadow-none text-info" th:value="${service.serviceId}">
                    <i class="far fa-eye" data-toggle="tooltip" title="View"></i>
                </button>
                <button class="edit btn bg-transparent shadow-none text-warning" th:value="${service.serviceId}">
                    <i class="fas fa-edit" data-toggle="tooltip" title="Edit"></i>
                </button>
                <button class="delete btn bg-transparent shadow-none text-danger" data-toggle="modal"
                        data-target="#deleteModal" th:value="${service.serviceId}">
                    <i class="fas fa-ban" data-toggle="tooltip" title="Delete"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix">
        <div class="hint-text"
             th:utext="'Showing <b>' + ${services.numberOfElements} + '</b> out of <b>' + ${services.totalElements} + '</b> entries'">
        </div>
        <ul class="pagination">
            <li class="page-item">
                <a th:href="@{/service(page=${services.number - 1})}" th:if="${services.hasPrevious()}"
                   class="page-link">
                    <i class="fa fa-angle-double-left"></i>
                </a>
            </li>
            <li class="page-item" th:each="i: ${#numbers.sequence(0, services.totalPages - 1)}">
                <a class="page-link" th:href="@{/service(page = ${i})}" th:text="${i + 1}"></a>
            </li>
            <li class="page-item">
                <a th:href="@{/service(page=${services.number + 1})}" th:if="${services.hasNext()}" class="page-link">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<footer th:replace="/layout/footer :: footer"></footer>
<div th:replace="/layout/delete-confirm :: modal"></div>

<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto" id="serviceModalLabel"></h5>
                <button type="button" class="close btn shadow-none ml-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer justify-content-center">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-success" id="modalSubmitBtn"></button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $(".alert").delay(2000).slideUp(800, function () {
            $(this).alert('close');
        });

        $("#createBtn").click(function () {
            $.ajax({
                type: "GET",
                url: "/service/create",
                dataType: "html",
                success: function (data) {
                    $("#serviceModalLabel").text("Add New Service");
                    $("#serviceModal .modal-body").html(data);
                    $("#serviceForm").attr("action", "/service/save");
                    $("#modalSubmitBtn").text("Save").show();
                    $("#serviceModal").modal('show');
                }
            });
        });

        $(".view").click(function () {
            $.ajax({
                type: "GET",
                url: "/service/" + $(this).val(),
                dataType: "html",
                success: function (data) {
                    $("#serviceModalLabel").text("Service Detail");
                    $("#serviceModal .modal-body").html(data);
                    $("#serviceForm input,option,textarea").attr("readonly", "true");
                    $("#serviceForm select").attr("disabled", "true");
                    $("#modalSubmitBtn").hide();
                    $("#serviceModal").modal('show');
                }
            });
        });

        $(".edit").click(function () {
            $.ajax({
                type: "GET",
                url: "/service/" + $(this).val() + "/edit",
                dataType: "html",
                success: function (data) {
                    $("#serviceModalLabel").text("Edit Service");
                    $("#serviceModal .modal-body").html(data);
                    $("#serviceForm").attr("action", "/service/update");
                    $("#serviceForm #id").attr("readonly", "true");
                    $("#modalSubmitBtn").text("Update").show();
                    $("#serviceModal").modal('show');
                }
            });
        });

        $("#modalSubmitBtn").click(function () {
            $("#serviceForm").submit();
        });

        $(".delete").click(function () {
            $("#deleteForm").attr("action", "/service/" + $(this).val() + "/delete");
            $("#deleteModalBody").html("<p>Do you really want to delete this service?<br>This process cannot be undone.</p>");
        });

    });

</script>

</body>
</html>