<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout/header :: head">
</head>
<body class="custom-background d-flex flex-column">

<header th:replace="/layout/header :: header"></header>
<nav th:replace="/layout/header :: nav-bar"></nav>

<div id="pageContent" class="container mb-4">
    <div class="row d-flex text-center">
        <h2 class="col py-3">Edit Service</h2>
    </div>
    <form class="form w-75 mx-auto" th:action="@{/service/update}" method="post" th:object="${service}">
        <table class="table table-borderless">
            <tr class="form-group row">
                <th class="col-4">
                    <label for="id">Service ID<span class="text-danger font-weight-bold">*</span></label>
                </th>
                <td class="col-8">
                    <input class="form-control" type="text" id="id" th:field="*{serviceId}" readonly>
                </td>
            </tr>
            <tr class="form-group row">
                <th class="col-4">
                    <label for="name">Service Name<span class="text-danger font-weight-bold">*</span></label>
                <td class="col-8">
                    <input class="form-control" type="text" id="name" th:field="*{serviceName}">
                    <div class="text-danger" th:if="${#fields.hasErrors('serviceName')}"
                         th:errors="*{serviceName}"></div>
                </td>
            </tr>
            <tr class="form-group row">
                <th class="col-4">
                    <label for="serviceType">Service Type<span class="text-danger font-weight-bold">*</span></label>
                <td class="col-8">
                    <select class="custom-select" id="serviceType" th:field="*{serviceType}">
                        <option th:each="type : ${serviceTypes}" th:value="${type.serviceTypeId}"
                                th:text="${type.serviceTypeName}"></option>
                    </select>
                </td>
            </tr>
            <tr class="form-group row">
                <th class="col-4">
                    <label for="rentType">Rent Type<span class="text-danger font-weight-bold">*</span></label>
                </th>
                <td class="col-8">
                    <select class="custom-select" id="rentType" th:field="*{rentType}">
                        <option th:each="type : ${rentTypes}" th:value="${type.rentTypeId}"
                                th:text="${type.rentTypeName}"></option>
                    </select>
                </td>
            </tr>
            <tr class="form-group row">
                <th class="col-4">
                    <label for="standard">Room Standard<span class="text-danger font-weight-bold">*</span></label>
                </th>
                <td class="col-8">
                    <select class="custom-select" id="standard" th:field="*{roomStandard}">
                        <option th:each="standard : ${roomStandards}" th:value="${standard}"
                                th:text="${standard}"></option>
                    </select>
                </td>
            </tr>
            <tr class="form-group row">
                <th class="col-4">
                    <label for="area">Service Area<span class="text-danger font-weight-bold">*</span></label>
                </th>
                <td class="col-8">
                    <input class="form-control" type="number" id="area" th:field="*{serviceArea}">
                    <div class="text-danger" th:if="${#fields.hasErrors('serviceArea')}"
                         th:errors="*{serviceArea}"></div>
                </td>
            </tr>
            <tr class="form-group row">
                <th class="col-4">
                    <label for="people">Max no. of People<span class="text-danger font-weight-bold">*</span></label>
                </th>
                <td class="col-8">
                    <input class="form-control" type="number" id="people" th:field="*{serviceMaxPeople}">
                    <div class="text-danger" th:if="${#fields.hasErrors('serviceMaxPeople')}"
                         th:errors="*{serviceMaxPeople}"></div>
                </td>
            </tr>
            <tr class="form-group row">
                <th class="col-4">
                    <label for="pool">Pool Area</label>
                </th>
                <td class="col-8">
                    <input class="form-control" type="number" id="pool" th:field="*{poolArea}">
                    <div class="text-danger" th:if="${#fields.hasErrors('poolArea')}" th:errors="*{poolArea}"></div>
                </td>
            </tr>
            <tr class="form-group row">
                <th class="col-4"><label for="floors">No. of Floors</label></th>
                <td class="col-8">
                    <input class="form-control" type="number" id="floors" th:field="*{numberOfFloors}">
                    <div class="text-danger" th:if="${#fields.hasErrors('numberOfFloors')}"
                         th:errors="*{numberOfFloors}"></div>
                </td>
            </tr>
            <tr class="form-group row">
                <th class="col-4">
                    <label for="cost">Service Cost<span class="text-danger font-weight-bold">*</span></label>
                </th>
                <td class="col-8">
                    <input class="form-control" type="number" id="cost" th:field="*{serviceCost}">
                    <div class="text-danger" th:if="${#fields.hasErrors('serviceCost')}"
                         th:errors="*{serviceCost}"></div>
                </td>
            </tr>
            <tr class="form-group row">
                <th class="col-4"><label for="convenience">Other Convenience</label></th>
                <td class="col-8">
                    <textarea class="form-control" rows="2" id="convenience" th:field="*{descriptionOtherConvenience}">
                </textarea></td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <a th:href="@{/service}" class="btn btn-secondary px-4" type="button">Back</a>
                    <button class="btn btn-success px-4" type="submit">Update</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<footer th:replace="/layout/footer :: footer"></footer>

<script>

    $(document).ready(function () {
        $("#searchForm").attr("action", "/service");
    });

</script>

</body>
</html>