<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title mb-3">Product List
          <span>
          <a routerLink="/create" class="btn btn-dark float-end">Create</a>
        </span></h1>
        <div *ngIf="message" id="alert" class="alert alert-success alert-dismissible fade show font-weight-bold">
          <button class="btn btn-close shadow-none float-end" (click)="closeAlert()"></button>
          <span>{{ message }}</span>
        </div>
        <div *ngIf="products.length > 0; else elseBlock">
          <table class="table table-striped text-center">
            <thead>
            <tr>
              <th class="pl-1">#</th>
              <th class="pl-1">Product Name</th>
              <th class="pl-1">Origin</th>
              <th class="pl-1">Production Date</th>
              <th class="pl-1">Price</th>
              <th class="pl-1">Stock</th>
              <th></th>
            </tr>
            </thead>
            <tbody *ngIf="products">
            <tr *ngFor="let product of products; let i = index">
              <td class="pl-1 pr-0 align-middle">{{ i + 1 }}</td>
              <td class="pl-1 pr-0 align-middle">{{ product.name | titlecase }}</td>
              <td class="pl-1 pr-0 align-middle">{{ product.origin['country'] }}</td>
              <td class="pl-1 pr-0 align-middle">{{ product.productionDate | date:"dd/MM/yyyy" }}</td>
              <td class="pl-1 pr-0 align-middle">{{ product.price | currency:"VND" }}</td>
              <td class="pl-1 pr-0 align-middle">
                <span *ngIf="product.amount == 0" class="txt-highlight">Out of stock</span>
                <span *ngIf="product.amount > 0 && product.amount < 10">Little left in stock</span>
                <span *ngIf="product.amount >= 10">Full stock</span>
              </td>
              <td class="pl-1 pr-0 align-middle">
                <a [routerLink]="[product.id, 'detail']">
                  <button mat-raised-button type="button" class="btn btn-light mx-1">View</button>
                </a>
                <a [routerLink]="[product.id, 'edit']">
                  <button mat-raised-button type="button" class="btn btn-light mx-1">Edit</button>
                </a>
                <button mat-raised-button (click)="openModal(product.id)" class="btn btn-light mx-1">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <ng-template #elseBlock>
          <h4>There's no product. Please create new product.</h4>
        </ng-template>
      </div>
    </div>
  </div>
</div>
