<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head"></head>
<body>
<div class="container">
    <h1 class="text-center my-3">Add Product</h1>
    <form class="form w-75 border mx-auto" th:action="@{/product/save}" th:object="${product}" method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <table class="table table-borderless">
            <tr class="form-group">
                <td class="font-weight-bold align-middle">Product Name</td>
                <td><input class="form-control" type="text" th:field="*{name}"/></td>
            </tr>
            <tr class="form-group">
                <td class="font-weight-bold align-middle">Price</td>
                <td><input class="form-control w-50" type="number" th:field="*{price}"/></td>
            </tr>
            <tr>
                <td class="font-weight-bold align-middle">Product Type</td>
                <td>
                    <select class="custom-select w-50" th:field="*{type}">
                        <option th:each="type : ${productTypes}" th:value="${type}" th:text="${type}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a class="btn btn-secondary" th:href="@{/}">Cancel</a>
                    <input type="submit" class="btn btn-success" value="Save"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="/layout :: script"></footer>
</body>
</html>