<div class="container w-50">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title mb-3">Create New Product
          <span>
          <a routerLink="/" class="btn btn-dark float-end">Back</a>
        </span></h1>
        <form class="form w-75 mx-auto mt-5" [formGroup]="createForm" *ngIf="createForm" (ngSubmit)="save()" novalidate>
          <table class="table table-striped table-borderless">
            <tbody>
            <tr class="form-group row">
              <th class="col-4">
                <label for="name">Product Name<span class="text-danger font-weight-bold">*</span></label>
              </th>
              <td class="col-8">
                <input class="form-control" type="text" formControlName="name" id="name">
                <div class="text-danger" *ngIf="createForm.controls.name.touched || createForm.controls.name.dirty">
                  <p *ngIf="createForm.controls.name.errors?.required">Product name is required.</p>
                </div>
              </td>
            </tr>
            <tr class="form-group row">
              <th class="col-4">
                <label for="origin">Origin<span class="text-danger font-weight-bold">*</span></label></th>
              <td class="col-8">
                <select class="form-control" id="origin" formControlName="origin">
                  <option selected disabled value="">Select the origin</option>
                  <option *ngFor="let origin of origins" [ngValue]="origin">{{origin['country']}}</option>
                </select>
                <div class="text-danger" *ngIf="createForm.controls.origin.touched || createForm.controls.origin.dirty">
                  <p *ngIf="createForm.controls.origin.errors?.required">Origin is required.</p>
                </div>
              </td>
            </tr>
            <tr class="form-group row">
              <th class="col-4">
                <label for="productionDate">Production Date<span class="text-danger font-weight-bold">*</span></label>
              </th>
              <td class="col-8">
                <input class="form-control" type="date" id="productionDate" formControlName="productionDate">
                <div class="text-danger"
                     *ngIf="createForm.controls.productionDate.touched || createForm.controls.productionDate.dirty">
                  <p *ngIf="createForm.controls.productionDate.errors?.required">Production date is required.</p>
                  <p *ngIf="createForm.controls.productionDate.errors?.dateBefore">Production date must be before
                    today.</p>
                </div>
              </td>
            </tr>
            <tr class="form-group row">
              <th class="col-4">
                <label for="amount">Amount<span class="text-danger font-weight-bold">*</span></label>
              </th>
              <td class="col-8">
                <input class="form-control" type="number" id="amount" formControlName="amount">
                <div class="text-danger" *ngIf="createForm.controls.amount.touched || createForm.controls.amount.dirty">
                  <p *ngIf="createForm.controls.amount.errors?.required">Amount is required.</p>
                  <p *ngIf="createForm.controls.amount.errors?.min">Amount must not be negative.</p>
                  <p *ngIf="createForm.controls.amount.errors?.max">Amount must not be greater than 100.</p>
                </div>
              </td>
            </tr>
            <tr class="form-group row">
              <th class="col-4">
                <label for="price">Price<span class="text-danger font-weight-bold">*</span></label>
              </th>
              <td class="col-8">
                <input class="form-control" type="number" id="price" formControlName="price">
                <div class="text-danger" *ngIf="createForm.controls.price.touched || createForm.controls.price.dirty">
                  <p *ngIf="createForm.controls.price.errors?.required">Amount is required.</p>
                  <p *ngIf="createForm.controls.price.errors?.min">Amount must be at least 100,000đ.</p>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="2" class="text-center">
                <button class="btn btn-dark" [disabled]="createForm.invalid">Add</button>
              </td>
            </tr>
            </tfoot>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
