<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout/header :: head">
</head>
<body id="page403">

<div class="container d-flex align-items-center justify-content-center" style="height: 700px">
    <div class="row py-5">
        <div class="col-md-4 text-center">
            <p><i class="fas fa-exclamation-triangle fa-5x"></i><br/>Status Code: 403</p>
        </div>
        <div class="col-md-8">
            <h3>ACCESS DENIED</h3>
            <p>You do not have permission to access this page!</p>
            <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>

</body>
</html>