h1 {
    border-bottom: 1px solid gray;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 0px;
}

#page-description {
    text-indent: 0px;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: smaller;
}

p {
    font-family: Tahoma, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 50px;
}

a {
    color: mediumblue;
    text-decoration: none;
}

a:hover {
    color: deepskyblue;
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -0.6em;
    font-size: 10px;
}