<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout/header :: head">
</head>
<body class="custom-background d-flex flex-column">

<header th:replace="/layout/header :: header"></header>
<nav th:replace="/layout/header :: nav-bar"></nav>

<div id="pageContent" class="container mb-4">
    <div class="row d-flex text-center">
        <h2 class="col py-3">Contract Detail</h2>
    </div>
    <table class="table w-50 mx-auto">
        <tr>
            <th>Contract ID</th>
            <td th:text="${contract.contractId}"></td>
        </tr>
        <tr>
            <th>Start Date</th>
            <td th:text="${contract.contractStartDate}"></td>
        </tr>
        <tr>
            <th>End Date</th>
            <td th:text="${contract.contractEndDate}"></td>
        </tr>
        <tr>
            <th>Employee</th>
            <td th:text="${contract.employee.employeeName}"></td>
        </tr>
        <tr>
            <th>Customer</th>
            <td th:text="${contract.customer.customerName}"></td>
        </tr>
        <tr>
            <th>Resort Service</th>
            <td th:text="${contract.resortService.serviceName}"></td>
        </tr>
        <tr>
            <th>Contract Deposit</th>
            <td th:text="${contract.contractDeposit}"></td>
        </tr>
        <tr>
            <th>Total Money</th>
            <td th:text="${contract.contractTotalMoney}"></td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <a th:href="@{/contract}" class="btn btn-secondary px-4">Back</a>
                <a th:href="@{/contract/{id}/edit(id=${contract.contractId})}" class="btn btn-warning px-4">Edit</a>
                <button class="delete btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                        th:value="${contract.contractId}">Delete
                </button>
            </td>
        </tr>
    </table>
</div>

<footer th:replace="/layout/footer :: footer"></footer>
<div th:replace="/layout/delete-confirm :: modal"></div>

<script>

    $(document).ready(function () {

        $(".delete").click(function () {
            $("#deleteForm").attr("action", "/contract/" + $(this).val() + "/delete");
            $("#deleteModalBody").html("<p>Do you really want to delete this contract?<br>This process cannot be undone.</p>");
        });

    });

</script>

</body>
</html>