<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout/header :: head">
</head>
<body class="custom-background d-flex flex-column">

<header th:replace="/layout/header :: header"></header>
<nav th:replace="/layout/header :: nav-bar"></nav>

<div id="page-content" class="container mb-4">
    <div class="row d-flex">
        <h1 class="col py-3">Customer List</h1>
        <div class="col text-right my-auto mr-3">
            <a th:href="@{/customer/add}">
                <button class="btn btn-success p-1"><i class="fas fa-plus fa-2x"></i>
                </button>
            </a>
        </div>
    </div>
    <table class="table table-hover" id="customer-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Gender</th>
            <th>ID Card</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="my-table" th:each="customer : ${customers}">
        <tr>
            <td class="pl-0 pr-1 align-middle">
                <a th:href="@{/customer/{id}(id=${customer.customerId})}" th:text="${customer.customerId}"></a>
            </td>
            <td class="pl-0 pr-1 align-middle" th:text="${customer.customerName}"></td>
            <td class="pl-0 pr-1 align-middle" th:text="${customer.customerType.customerTypeName}"></td>
            <td class="pl-0 pr-1 align-middle" th:text="${customer.customerBirthday}"></td>
            <td class="pl-0 pr-1 align-middle" th:if="${customer.customerGender}">Male</td>
            <td class="pl-0 pr-1 align-middle" th:if="${!customer.customerGender}">Female</td>
            <td class="pl-0 pr-1 align-middle" th:text="${customer.customerIdCard}"></td>
            <td class="pl-0 pr-1 align-middle" th:text="${customer.customerPhone}"></td>
            <td class="pl-0 pr-1 align-middle" th:text="${customer.customerEmail}"></td>
            <td class="pl-0 pr-1 align-middle" th:text="${customer.customerAddress}"></td>
            <td class="pl-0 pr-1 align-middle">
                <a th:href="@{/customer/edit/{id}(id=${customer.customerId})}">
                    <button class="btn btn-warning p-2">
                        <i class="fas fa-edit"></i></button>
                </a>
                <button class="btn btn-danger p-2" data-toggle="modal" data-target="#deleteModal"
                        onclick="customerSetId('${customer.customerId}')">
                    <i class="fas fa-ban"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="/layout/footer :: footer"></footer>
<div th:replace="/modal/delete-confirm :: modal"></div>

</body>
</html>