<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <footer class="footer" th:fragment="footer">
            <div class="container mt-2">
                <div class="row pt-4">
                    <div class="col-6">
                        <h3>Contact Us</h3>
                        <div class="d-flex">
                            <div class="pr-3 mt-1">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div>
                                <p>103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City,
                                    Vietnam
                                    <br>
                                    Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666
                                    <br>
                                    Email:
                                    <a href="mailto:reservation@furamavietnam.com">reservation@furamavietnam.com</a>
                                    *
                                    <a href="">www.furamavietnam.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <img src="/img/world-hotel.png"
                             alt="" class="img-fluid mb-2"/>
                        <p>GDS-Codes: Amadeus-WWDADFUR, Apollo/Galileo-WW16236, Sabre-WW32771, Worldspan-WWDADFU</p>
                    </div>
                </div>
                <div class="row py-4 justify-content-center">
                    <p>&copy; 2021 Furama Resort Danang</p>
                </div>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        </footer>

    </body>
</html>