<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
              integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon"/>
        <title>Furama Resort Danang - A Culinary Beach Resort In Vietnam</title>
    </head>
    <body>
        <header class="header" th:fragment="header">
            <div class="header-content">
                <div class="container">
                    <div class="row py-3">
                        <div class="col-2">
                            <a th:href="@{/}" class="header-logo"><img src="/img/logo.png" alt="logo" class="img-fluid"></a>
                        </div>
                        <div class="col-5">
                            <div class="header-contact d-flex">
                                <div class="header-contact-icon pr-3 pt-3"><i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="header-contact-txt">
                                    <p class="mb-1 pt-3">103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District,
                                        Danang City, Vietnam</p>
                                    <p class="mb-1">7,0 km from Danang Airport</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="header-contact d-flex">
                                <div class="header-contact-icon pr-3 pt-3"><i class="fas fa-phone fa-flip-horizontal"></i>
                                </div>
                                <div class="header-contact-txt">
                                    <p class="mb-1 pt-3">84-236-3847 333/888</p>
                                </div>
                            </div>
                            <div class="header-contact d-flex">
                                <div class="header-contact-icon pr-3"><i class="fas fa-envelope"></i>
                                </div>
                                <div class="header-contact-txt">
                                    <a href="mailto:reservation@furamavietnam.com">
                                        reservation@furamavietnam.com </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 text-right">
                            <button type="button" class="btn bg-transparent border-0 shadow-none p-0 pt-3">
                                <i class="far fa-user-circle fa-3x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <nav class="navbar navbar-expand-sm sticky-top text-uppercase font-weight-bold" th:fragment="nav-bar">
            <div class="container py-2">
                <a class="navbar-brand text-white" th:href="@{/}"><i class="fa fa-home"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link mx-2 text-white" th:href="@{/employee}">Employee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 text-white" th:href="@{/customer}">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 text-white" th:href="@{/service}">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 text-white" th:href="@{/contract}">Contract</a>
                        </li>
                    </ul>
                </div>
                <form class="navbar-form navbar-right" method="get" th:action="@{/customer/search}">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchValue" name="key" placeholder="Search">
                        <button id="searchBtn" class="btn btn-light" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </nav>

    </body>
</html>